{% extends 'blog/layout.html' %}
{% block content %}
<h2 class="post-title">About me</h2>
    <p>El nacimiento de ésta idea nace aproximadamente en 2018, cuando el <b>'Método Grez'</b> daba sus primeros pasos.</p>
    <h2>Entonces, ¿Por qué realizar este blog?</h2>
    <p>Es normal que se pregunten <i>"¿por qué y para qué desarrolló este blog?"</i>
    <br /><br />
    Y la verdad es que sentí una necesidad de poder ayudar a personas a que mejoren su estilo de vida.
    <br />
    Tratando de explicar que una dieta no más que el estilo de vida que uno lleva, no es algo temporal, donde se deba sufrir y pasar hambre solo comiendo lechuga con atún.
    <br /><br />
    Por ejemplo:
    <br /><br />
    Si alguien consume constantemente pan, arroz, fideos y papas... su dieta está basada en carbohidratos.</p>
    <br />
    <b>Mi nombre es: <span style="color: darkblue">Angelo Valenzuela González</span></b> y será un placer guiarlos en este tema.</p>
    {% endblock %}